@{
    ViewData["Title"] = "RabbitMq";
}

<div class="container">
    <h1 id="project-title">ChatRoom</h1>

    <h2 id="getting-started"> What's On it?</h2>
    <ul>
        <li>Allow registered users to log in and talk with other users in a chatroom.<b>NOT CHECK</b> </li>
        <li>
            Allow users to post messages as commands into the chatroom with the following format
            /stock=stock_code
            <b>CHECK</b>
        </li>
        <li>
            Create a decoupled bot that will call an API using the stock_code as a parameter
            (https://stooq.com/q/l/?s=aapl.us&f=sd2t2ohlcv&h&e=csv, here aapl.us is the
            stock_code)
            <b>CHECK</b>
        </li>
        <li>
            The bot should parse the received CSV file and then it should send a message back into
            the chatroom using a message broker like RabbitMQ. The message will be a stock quote using the following format: “APPL.US quote is $93.42 per share”. The post owner will be the bot. <b>CHECK</b>
        </li>
        <li>Have the chat messages ordered by their timestamps and show only the last 50 messages. <b>NOT CHECK</b></li>
        <li>Unit test the functionality you prefer <b>CHECK</b>.</li> 


    </ul>

</div>

@section Scripts{

    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/modal-logic.js"></script>

}




