@model Chatroom.Web.Views.ChatRoom.ChatRoomModel

@{
    ViewData["Title"] = "ChatRoom";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<form method="post" id="frmGrupo">

    <div>
        <div class="shadow p-4 mb-4 bg-white">
            <a class="btn btn-outline-secondary btn-sm">User: FryannM</a>
            <div class="mt-3">
                <div class="alert alert-info alert-dismissible text-center mt-3">
                    Chat Room: <b>the Main ChatRoom</b>
                </div>
            </div>
            <div class="border p-3 my-3">
                <div id="messages" style="max-height: 300px; overflow-y: scroll;"></div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="message" asp-for="Message" placeholder="Type here Fryann M..." />
                <div class="input-group-append">
                    <input id="submit-form" type="button" value="Send" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>


        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};
            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });
            return indexed_array;
            
        }

        function getAllMessage() {
            let AllMessageUrl = `https://localhost:63527/api/ChatRoom/getMessage`;
            $.ajax({
                type: "GET",
                url: AllMessageUrl,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                         document.querySelector('#messages').innerHTML += (
                             ` <br> <b><small> ${result}</small></b>
                        </div`);
                }
            });

        }
        $('#submit-form').click(function (e) {

            $('#messages').text("FryannM Says : " + $('#message').val()) + '\n';
            $('#messaged').text('\n');
            
            e.preventDefault();
            var $form = $('form');
            var model = getFormData($form);

            var url = `https://localhost:63527/api/ChatRoom/message`;
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                success: function (result) {
                    $('#message').val('');
                    if (result) {
                        getAllMessage();
                    }
                }
            });
        });

    </script>

}

