@model Chatroom.Web.Views.ChatRoom.ChatRoomModel

@{
    ViewData["Title"] = "ChatRoom";
}


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<form method="post" id="frmGrupo">

    <div>

        <div class="shadow p-4 mb-4 bg-white">
            <a class="btn btn-outline-secondary btn-sm">User: FryannM</a>
            <div class="mt-3">
                <div class="alert alert-success alert-dismissible text-center mt-3">
                    Chat Room: <b>the Main ChatRoom</b>
                </div>
            </div>
            <div class="border p-3 my-3">
                <div id="messages" style="max-height: 300px; overflow-y: scroll;"></div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="message" asp-for="Message" placeholder="Type here Fryann M..." />
                <div class="input-group-append">
                    <input id="submit-form" type="button" value="Crear" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};
            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });
            return indexed_array;
            console.log(JSON.stringify(indexed_array));
        }
        $('#submit-form').click(function (e) {
            e.preventDefault();
            debugger;
            var $form = $('form');
            var model = getFormData($form);
            console.log('this is the model');
            console.log(model);
            var url = "https://localhost:63103/api/User/2";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                success: function (result) {
                    debugger;
                    if (result.success) {
                        console.log('Urrah')
                    }
                }
            });
        });</script>

}

